# Flutter
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.connectedStatistics

# Python
__pycache__/
*.pyc
.env
venv/
runform_env/
data/old/
data/*.mp4
data/**/*.mp4
data/**/*.mov
notebooks/old/

# Mac
.DS_Store